/* Cabecera */
.cabecera__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecera__buscar__item{
    display: none;
}



/* Seccion superior */
.superior__seccion__container{
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
    gap: 15px;

}




/* Rodapie */
.rodapie__container{
    display: flex;
    /* flex-direction: column;
   flex-wrap: wrap; */
   flex-flow: column wrap;
    
   
}



@media (min-width:834px) {

    /* Cabecera */
    .cabecera__buscar__item{
        display: block
    }

    /* Rodapie */
    .rodapie__container{
        justify-content: space-between;
    }
   

}





