/* Cabecera */
.cabecera__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecera__buscar__item{
    display: none;
}




@media (min-width:834px) {

    /* Cabecera */
    .cabecera__buscar__item{
        display: block
    }

    

}





