/* Cabecera */
.cabecera__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecera__buscar__item{
    display: none;
}

/* Menu */

.menu__container{
    position: fixed;
    bottom: 0%;
    height: 75px;
    width: 100%;
}

.menu__lista{
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.menu__lista li {
    align-self: center;
}

.menu__itens{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4){
    display: none;
}


/* Seccion superior */
.superior__seccion__container{
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
    gap: 15px;

}




/* Rodapie */
.rodapie__container{
    display: flex;
    /* flex-direction: column;
   flex-wrap: wrap; */
   flex-flow: column wrap;
    
   
}



@media (min-width:834px) {

    /* Cabecera */
    .cabecera__buscar__item{
        display: block
    }

    /* Rodapie */
    .rodapie__container{
        justify-content: space-between;
    }
   

}





